rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write access to the 'vorsGrupper' collection
    match /vorsGrupper/{groupID} {
      allow read, write: if true;
    }

    // Add additional rules for other collections or documents as needed
  }
}