@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,200;1,500;1,700&display=swap');

:root {
  --blue: #86A7FC;
  --gul: #FFF89C;
  --frostee: #FF6868;
  --blue2: #7BD3EA;
  --lilla: #BC7AF9;
  --white: #FFF;
  --green: #A6FF96;
  --rosa: #FFA1CF;
  --hotpink: #FF407D;
  --winered: #7D0A0A;
  --grey: #333;
  --orange: #FF9874;
}

.header {    
  background-color: var(--hotpink);  
  color: var(--white);
  padding: 20px;    
  text-align: center;    
  font-size: x-large;
  margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: var(--gul);
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.topnav a {
  display: block;
  color: var(--grey);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: large;
}
.topnav a:hover {color: var(--hotpink);}

.button {
  background-color: var(--hotpink);
  color: var(--white);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}


input[type="text"], input[type="number"] {
  padding: 30px;
  margin-bottom: 10px;
  font-size: 20px;
  display: flex;
  background-color: var(--white);
  border: none;
  width: 80%;
  /* Font */
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input[type="number"] {
  font-size: 15px;
}
input[type="text"]::placeholder, input[type="number"]::placeholder {
  color: var(--grey);
}

.submit-button, .pos-button {
  padding: 10px;
  background-color: var(--gul);
  color: var(--grey);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width:40%;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  font-size: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.pos-button {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}


.footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height: auto;
  background-color: var(--hotpink);
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 10px;
  color: white;
}
.footertekst {
    justify-content: center;
}

.footer div  {
  background-color: var(--hotpink);
}

.home-button {
  position: absolute;
  top: 20px; 
  left: 20px; 
  display: inline-flex;
  padding: 10px 15px;
  text-decoration: none;
  background-color: #f0f0f0;
  color: #333;
  border: none;
  border-radius: 4px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.home-button i {
  margin-right: 5px;
}

.home-button:hover {
  background-color: #e0e0e0;
}